@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins";
    margin: 0;
    overflow: hidden;

}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.register {
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: white;
    background-image: url("../images/Signup/pexels-sohail-nachiti-807598\ 1.png");
}

.register h2 {
    margin-left: 145px;
}
.register .GoogleButton{
    width: auto;
    height: 40px;
    margin: 20px;
    margin-left: 100px;
    border: 0.3px solid rgb(0, 0, 0, 1);
background-color: rgb(255, 255, 255);
}
.register .GoogleButton .Glogo{
  height: 35px;
  width: 35px;
}
.register span {
  display: flex;
    color: #54595f;
justify-content: center;
}

form {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    align-items: center;
}

button:hover {
    background-color: #ccc;
    color: #000;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
    width: 100%;
    height: 42px;
    padding: 10px;
    margin-top: 20px;
    border: 0.3px solid rgb(0, 0, 0, 1);
    border-radius: 10px;
}

.already-member,
.forgot-password {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.already-member a,
.forgot-password a {
    color: rgba(0, 133, 255, 1);
    text-decoration: none;
}

.already-member a:hover,
.forgot-password a:hover {
    text-decoration: underline;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    background-color: #000;
}

.flex {
    display: flex;
    gap: 1em;
}

.flex-col {
    flex-direction: column;
}

.register .col-1 {
    padding: 100px;
    width: 40vw;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.register .col-2 {
    width: 60vw;
    height: 100vh;
    display: flex; /* Use Flexbox layout */
    justify-content: center; 
    align-items: center;

}

.register .col-2 img {
    width: 297px;
    height: 71px;
    
}

/* Show the image for screens wider than 860px */
@media screen and (min-width: 860px) {
    .register .col-2 img {
        display: initial;
    }
}

/* Style for login section */
.login-section {
    padding: 0 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.login-section h2 {
    margin-top: 40px;
}

.login-section span {
    color: #adb5bd;
    margin-bottom: 20px;
}

/* Add more styles as needed for the login section */
